@model TutoringSession.Models.Session
@{
    ViewData["Title"] = "Log Tutoring Session";
}

<h2>Log Tutoring Session</h2>
<form asp-action="Index" method="post" class="mt-3">
    <div class="mb-3">
        <label asp-for="LecturerName" class="form-label">Lecturer Full Name</label>
        <input asp-for="LecturerName" class="form-control"/>
        <span asp-validation-for="LecturerName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StudentName" class="form-label">Student Full Name</label>
        <input asp-for="StudentName" class="form-control"/>
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="SessionDate" class="form-label">Session Date</label>
        <input asp-for="SessionDate" class="form-control" type="date" />
        <span asp-validation-for="SessionDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="HoursTutored" class="form-label">Total Hours Tutored</label>
        <input asp-for="HoursTutored" class="form-control" step="0.5"/>
        <span asp-validation-for="HoursTutored" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="HourlyRate" class="form-label">Hourly Rate</label>
        <input asp-for="HourlyRate" class="form-control" step="0.01" />
        <span asp-validation-for="HourlyRate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Calculate</button>
</form>
